@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Lato:100,300,700);

body {
	font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
	background-color: #e2e2e0;
}

#header {
	background-color: #2c3f4f;
    float: left;
    width: 100%;
}

#logo {
	display: inline-block;
    float: left;
}

#header h1 {
	color: white;
    background-color: #219d83;
    float: left;
    padding: 25px 32px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18pt;
}

#header > h4 {
	margin: 28px 0px 0 20px;
	float: left;
	color: #219d83;
	font-weight: bold;
}

#header > h4 span {
	color: #fff;
}

#nav li {
	float: left;
}

#nav li a {
	text-decoration: none;
	font-weight: light;
	padding: 4px 7px;
}

#nav li a:hover {
	background: #219d83; 
}

#nav {
	float: right;
	margin: 28px 1px 0 0;
}

#header span {
	color: gray;
	font-weight: normal;
}
ul li a {
	color: white
}
#backgroundimage {
	background: #fff url("../img/bus.jpg") no-repeat center center;
	height: 300px;
	width: 800px;
	float: right;
	background-size: 100%
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;

}

.wrapper {
	float: left;
}

#description {
	margin: 40px 0 20px 0;
	float: left;
}

#description > h4{
	color: #219d83;
	margin: 0 0 20px 0
}

#description > p{
	font-size: 12px;
	font-weight: bold;
	margin: 0 45px;
	line-height: 2;
}

#Secure{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.wrapper > p{
	text-align: center;
}

#greatfeaturesimg{
	background: transparent url("../img/sprite1.jpg") no-repeat;
	width: 175px;
	height: 175px;
}

#secureimg{
	background: transparent url("../img/sprite1.jpg") -168px 0px no-repeat;
	width: 175px;
	height: 175px;
}

#affordableimg{
	background: transparent url("../img/sprite1.jpg") -337px 0 no-repeat;
	width: 175px;
	height: 175px;
}
#left {
	float: left;
	margin: 10px 50px 10px 50px;
	text-align: center;
	line-height: 2;
}

#left > h4{
	font-size: 20px;
	font-weight: bold;
}

#center {
	float: left;
	margin: 10px 30px 10px 0px;
	text-align: center;
	line-height: 2;
}

#center> h4{
	font-size: 20px;
	font-weight: bold;
}

#right {
	float: left;
	margin: 10px 10px 10px 40px;
	text-align: center;
	line-height: 2;
}

#right> h4{
	font-size: 20px;
	font-weight: bold;
}

#reserve{
	text-align: center;
	margin: 30px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	color: #219d83;
}

#reserve > p{
	font-size: 16px;
	font-weight: normal;
	color: #000;
	margin: 10px 130px 10px 130px;
	line-height: 2;
}

#registernow {
	margin: 10px 0 10px 140px;
    float: left;
    padding: 20px 10px 20px 30px;
    background: linear-gradient(90deg, #219d83 65%, #bdbec2 35%);
    border: 1px solid #219d83;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 480px;
}

#registernow a{
    background: #219d83;
    text-decoration: none;
    font-size: 28px;
    color: white;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 55px 10px 60px 80px;
    width: 63%;
    box-sizing: border-box;
}

#contactinfo{
	float: right;
	margin: 10px 0px 10px 60px;
	text-align: left;
	padding: 25px 0px 0px 0px;
}

#contactinfo p{
	padding: 0 10px 0 10px;
}

#contactinfo span{
	color: #219d83;
	font-weight: bold;
}

div h4 p {
	color: black;
}
ul li h4 {
	color: black;
}

h5 {
	float: left;
    text-align: center;
    margin: 80px 0 0 0;
    width: 100%;
    font-size: 14px
}

h5 span{
	color: #219d83;
	font-weight: bold;
}

h5 > p{
	text-align: inherit;
}