@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Lato:100,300,700);

body {
	font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
	background-color: gray
}

#header {
	background-color: #2c3f4f;
    float: left;
    width: 100%;
}

#logo {
	display: inline-block;
    float: left;
}

#header h1 {
	color: white;
    background-color: #219d83;
    float: left;
    padding: 25px 32px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18pt;
}

#header > h4 {
	margin: 28px 0px 0 20px;
	float: left;
}

#header > h4 span {
	color: #fff;
}

#nav li {
	float: left;
}

#nav li a {
	text-decoration: none;
	font-weight: light;
	padding: 4px 7px;
}

#nav li a:hover {
	background: #219d83; 
}

#nav {
	float: right;
	margin: 19px 1px 0 0;
}

h4 {
	color: green
}

.graytext: {
	color: gray
}
ul li a {
	color: white
}
#backgroundimage {
	background-image: ./img/bus.jpg;
	background-size: 100% 25.1%;
}
div h4 p {
	color: black;
}
ul li h4 {
	color: black;
}
